
<section class="landing__services" id="services">

    <h3>Services</h3>


    <!-- Carousel services -->
    <div class="landing__services__slider__container">

        <div class="landing__services__slider">

            <div class="slider__container__items">
                <mat-icon>groups</mat-icon>
                <p>Teams</p>
            </div>
            <div class="slider__container__items">
                <mat-icon>forum</mat-icon>
                <p>Forum</p>
            </div>
            <div class="slider__container__items">
                <mat-icon>connect_without_contact</mat-icon>
                <p>Connected</p>
            </div>
            <div class="slider__container__items">
                <mat-icon>sentiment_satisfied</mat-icon>
                <p>Experience</p>
            </div>
            <div class="slider__container__items">
                <mat-icon>verified_user</mat-icon>
                <p>Privacy</p>
            </div>
            <div class="slider__container__items">
                <mat-icon>rate_review</mat-icon>
                <p>Feedback</p>
            </div>

            <div class="slider__container__items">
                <mat-icon>groups</mat-icon>
                <p>Teams</p>
            </div>
            <div class="slider__container__items">
                <mat-icon>forum</mat-icon>
                <p>Forum</p>
            </div>
            <div class="slider__container__items">
                <mat-icon>connect_without_contact</mat-icon>
                <p>Connected</p>
            </div>
            <div class="slider__container__items">
                <mat-icon>sentiment_satisfied</mat-icon>
                <p>Experience</p>
            </div>
            <div class="slider__container__items">
                <mat-icon>verified_user</mat-icon>
                <p>Privacy</p>
            </div>
            <div class="slider__container__items">
                <mat-icon>rate_review</mat-icon>
                <p>Feedback</p>
            </div>


        </div>

    </div>

    <div class="landing__services__content">

        <div class="landing__services__content__item">
            <div class="item__content">
                <h4>Instant Messaging</h4>
                <p>Individual and group chats and
                    Themed and project-specific channels</p>
            </div>
            <div class="item__image">
                <img src="assets/vectors/service1_vector.png" alt="">
            </div>
        </div>
        <div class="landing__services__content__item landing__services__content__item--right">
            <div class="item__content">
                <h4>Security and Privacy</h4>
                <p>End-to-end encryption
                    Two-factor authentication (2FA)
                    Advanced privacy settings</p>
            </div>
            <div class="item__image">
                <img src="assets/vectors/service2_vector.png" alt="">
            </div>
        </div>
        <div class="landing__services__content__item">
            <div class="item__content">
                <h4>Team Management</h4>
                <p>Custom roles and permissions
                    User administration
                    Usage analytics and reports</p>
            </div>
            <div class="item__image">
                <img src="assets/vectors/service3_vector.png" alt="">
            </div>
        </div>

    </div>



</section>