<footer>

    <div class="footer__content">
        
            <div class="footer__brand"> 
        
                <h2>SkyChat</h2>
                <p>The Sky Chat</p>
                <!-- icono yt -->
                <img src="assets/icons/youtube_icon.png" alt="">
            </div>
        
            <div class="footer__option">
        
                <div class="footer__option__content">
                    <p>Support</p>
                    <ul>
                        <li>FAQ</li>
                        <li>Feedback</li>
                        <li>Contact</li>
                    </ul>
                </div>
                <div class="footer__option__content">
                    <p>Legal</p>
                    <ul>
                        <li>Privacy</li>
                        <li>Terms</li>
                    </ul>
                </div>
        
            </div>

    </div>


    <p class="footer__copyright">Copyright © 2024 - Pradilla</p>

</footer>