<section class="landing__whatis" id="what-sky">


    <h3>What is Sky?</h3>
    <div class="landing__whatis__container">
        <img class="landing__whatis__vector" src="assets/vectors/whatis_vector.png" alt="">

        <div class="landing__whatis__content">


            <p> <span>Sky</span> is the <span>communication</span> platform designed
                for modern <span>teams</span>.</p>
            <p>
                It offers a seamless and comprehensive
                chat <span>experience</span> that allows teams to stay <span>connected</span>,
                collaborate in real time
            </p>

        </div>

    </div>
</section>